<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home" >Peliculas</a>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex">
          <input  class="form-control me-2" 
                  #search
                  (keyup.enter)="buscarPelicula(search.value)"
                  type="search" 
                  placeholder="Buscar..." 
                  aria-label="Search">
          <button class="btn btn-outline-success" 
                  (click)="buscarPelicula(search.value)"
                  type="submit">
                  Buscar
          </button>
        </div>
      </div>
    </div>
  </nav>